@import url(./global.css);

body {
    background: black;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.cabecalho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    position: fixed;
}

.cabecalho picture svg {
    width: 160px;
}

.cabecalho ul {
    display: flex;
    margin-right: 10px;
}

.cabecalho ul li {
    list-style-type: none;
}

.cabecalho a {
    text-transform: uppercase;

    text-decoration: none;
    color: white;
    margin: 0.5rem;
}

.cabecalho .button {
    font-size: 0.75rem;
    background: #b535f6;
    padding: 10px;
    border-radius: 20px;
    transition: 2s ease;
}

.cabecalho a:hover {
    cursor: pointer;
}

.button:hover {

    background: #ffffff;
    color: #000000;
}

.cabecalho picture svg:hover {
    cursor: pointer;
}

header {
    margin: 0;
}

header .borda-superior {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 4rem;
    background: #020228;
}

.box {
    position: absolute;

    width: 100%;
    height: 200px;
    margin-top: 6rem;
    animation: animation-header 3s infinite alternate;
    filter: blur(100px);
}

@keyframes animation-header {
    0% {
        background-color: rgba(0, 0, 0, 0.5);
        /* Preto com 50% de transparência */
    }

    30% {
        background-color: rgba(2, 2, 40, 0.5);
        /* Azul escuro com 50% de transparência */
    }

    60% {
        background-color: rgba(0, 0, 0, 0.5);
        /* Preto com 50% de transparência */
    }

    90% {
        background-color: rgba(181, 53, 246, 0.5);
        /* Rosa com 50% de transparência */
    }
}

.container {
    margin-bottom: 3rem;
}

.icons-header {
    text-align: center;
    margin-top: 5rem;
}

.icons-header img {
    margin: 10px;
}

.text-header {
    text-align: center;
    margin-top: 1rem;
    text-transform: uppercase;
    color: white;
}

.text-header .part-01 {
    font-size: 32px;
    margin-bottom: 500px;
}

.text-header .part-02 {
    margin-top: 10px;
    font-size: 48px;
}

.divider {
    width: 50%;
    height: 0.30rem;
    margin: 0 auto;
    border-radius: 10px;
    background: linear-gradient(45deg, #9b34ef 0%,#490cb0 20%);
}

.text-preco{
    color: white;
    text-align: center;
    margin: 2rem 0 0.3rem 0;
}

.text-preco .text-valor{
    font-size: 20px;
    margin: 0;
}

.text-preco h2{
    align-items: center;
}

.text-preco .valor{
    font-size: 40px;
    margin: 0 0 2rem 0;
}

.text-preco .valor .menor{
    font-size: 16px;
}

.text-preco button{
    background-color: #490cb0;
    margin: 0 0 2rem 0;
}

.text-preco p{
    font-size: 16px;
    margin: 0;
}



